@charset "UTF-8";
/*reset de css clasico */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: rgb(198, 232, 136);
  border: #25d366;
  grid-area: auto;
}

footer {
  background-color: rgb(111, 138, 60);
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

/*definicion de colores*/
/*layout*/
h1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
}
.imagencasa img {
  max-width: 100%;
  height: auto;
  justify-content: center;
}

.row {
  max-width: 100%;
  height: auto;
  justify-content: center;
}
.fotop {
  display: flex;
  align-items: center;
}
.fotop .fotop img {
  width: 200px;
  /* Ajusta el ancho de la imagen según sea necesario */
  height: auto;
  /* Ajusta la altura de la imagen según sea necesario */
  margin-right: 10px;
  /* Ajusta el margen derecho según sea necesario */
}

/*centrar imagen*/
.ecologia {
  display: flex;
  justify-content: center;
}

#contenedor {
  display: grid;
  grid-template: " header header" 100px "h1     h1     h1" 80px "asaid  img    asaid" "img1   img2   img3" 200px "footer footer footer" 50px/33% auto 33%;
}

#header1 {
  grid-area: header;
}

#titulo {
  grid-area: h1;
}

.imagencasa {
  grid-area: img;
}

#imagen1 {
  grid-area: img1;
}

#imagen2 {
  grid-area: img2;
}

#imagen3 {
  grid-area: img3;
}

#footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  /* Estilos para pantallas con un ancho máximo de 768px */
  #contenedor {
    grid-template-columns: auto auto;
    grid-template-rows: 100px 80px auto auto auto 100px;
    grid-template-areas: "header header" "h1 h1" "img1 img2" "img3" "footer footer";
  }
}
@media (max-width: 480px) {
  /* Estilos para pantallas con un ancho máximo de 480px */
  #contenedor {
    grid-template-columns: auto;
    grid-template-rows: 100px 80px auto auto auto 100px;
    grid-template-areas: "header" "h1" "img" "img" "img" "footer";
  }
}
@media (min-width: 400px) {
  /* Estilos para pantallas con un ancho min de 400px */
  #contenedor {
    grid-template-columns: auto;
    grid-template-rows: 100px 80px auto auto auto 100px;
    grid-template-areas: "header" "h1" "img" "img" "img" "footer";
  }
}
/*compleementos*/
a:hover {
  /*Todos los elementos <a> cuando el mouse esté posicionado sobre ellos*/
  font-weight: bold;
  padding: 4px;
  background-color: rgb(100, 137, 63);
  color: rgb(178, 193, 193);
}

a:active {
  /*Todos los elementos <a> cuando se está haciendo click sobre ellos*/
  background-color: rgb(83, 160, 79);
  color: black;
  transform: scale(0.9);
}

#whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

#carouselExampleFade {
  width: 800px; /* ancho */
  height: 500px; /* altura */
  margin: 0 auto;
}
#carouselExampleFade .carousel-item img {
  max-height: 400px;
  /* Tamaño deseado */
}

header {
  background-color: rgb(111, 138, 60);
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 25%;
}

#header1 {
  list-style-type: none;
  display: flex;
  width: 15%;
  
}
#header1 li a {
  justify-content: space-evenly;
  padding: 0.5rem;
  background-color: rgb(111, 138, 60);
  border-color: rgb(82, 100, 51);
  flex-direction: row-reverse;
  align-items: center;
}/*# sourceMappingURL=style.css.map */


form {
  max-width: 400px;
  margin: 0 auto;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

